name: CI
on:
  push:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        ghc: ['9.6', '9.8', '9.10', '9.12', '9.14']
        include:
          - cabal: '3.16'
          - experimental: false
          - ghc: '9.14'
            experimental: true
            allownewer: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install GHC and Cabal
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
          cabal-update: true
      - name: Install Nginx
        run: |
          sudo apt-get update
          sudo apt-get install -y nginx

      - name: Build module
        run: |
          cabal --version
          echo "$(ghc --version) "`
              `"[$(ghc --print-project-git-commit-id 2>/dev/null || echo '?')]"
          cabal build

      - name: Build OCSP-aware HTTP client
        run: |
          cd test/client-ocsp
          if [ "${{ matrix.allownewer }}" = true ]
          then
              echo "allow-newer: all" >> cabal.project
          fi
          cabal build

      - name: Generate certificates
        run: |
          cd test/data
          sed -i "s'\(^database\s*=\s*\).*'\1$(pwd)/index.txt'" \
              certs/openssl.cnf
          openssl genrsa -out certs/root/rootCA.key 2048
          openssl req -new -x509 -days 1 -key certs/root/rootCA.key \
              -out certs/root/rootCA.crt \
              -subj '/C=US/ST=California/L=San Francisco/O=My Company'`
                   `'/OU=OCSP Test/CN=My Company Root/UID=testOCSP'
          openssl req -new -newkey rsa:2048 -nodes \
              -out certs/server/server.csr \
              -subj '/C=US/ST=California/L=San Francisco/O=My Company'`
                  `'/OU=OCSP Test/CN=localhost/UID=testOCSP' \
              -keyout certs/server/server.key -config certs/openssl.cnf
          openssl x509 -req -days 1 -in certs/server/server.csr \
              -CA certs/root/rootCA.crt -CAkey certs/root/rootCA.key \
              -set_serial 01 -out certs/server/server.crt \
              -extfile certs/openssl.cnf -extensions v3_exts
          sudo install certs/root/rootCA.crt /usr/local/share/ca-certificates
          sudo update-ca-certificates
          cat certs/server/server.crt certs/root/rootCA.crt \
              > certs/server-chain.crt

      - name: Test OCSP-aware HTTP client and generate DER data
        run: |
          touch test/data/index.txt
          certsdir="$(pwd)/test/data/certs"
          cd test/client-ocsp
          sed -i "s'^user\(\s\)'# user\1';"`
                `"s'\(^\s*ssl_certificate\s\+\).*'"`
                `"\1$certsdir/server-chain.crt;';"`
                `"s'\(^\s*ssl_certificate_key\s\+\).*'"`
                `"\1$certsdir/server/server.key;'" nginx.conf
          sudo nginx -c "$(pwd)/nginx.conf"
          openssl ca -valid ../data/certs/server/server.crt \
              -keyfile ../data/certs/root/rootCA.key \
              -cert ../data/certs/root/rootCA.crt \
              -config ../data/certs/openssl.cnf
          openssl ocsp -index ../data/index.txt -port 8081 \
              -rsigner ../data/certs/root/rootCA.crt \
              -rkey ../data/certs/root/rootCA.key \
              -CA ../data/certs/root/rootCA.crt -text &
          opensslocsppid=$!
          cabal run | grep 'In backend 8010'
          openssl ocsp -issuer ../data/certs/root/rootCA.crt \
              -cert ../data/certs/server/server.crt \
              -reqout ../data/req.der -no_nonce
          kill $opensslocsppid
          openssl ca -revoke ../data/certs/server/server.crt \
              -keyfile ../data/certs/root/rootCA.key \
              -cert ../data/certs/root/rootCA.crt \
              -config ../data/certs/openssl.cnf
          openssl ocsp -index ../data/index.txt -port 8081 \
              -rsigner ../data/certs/root/rootCA.crt \
              -rkey ../data/certs/root/rootCA.key \
              -CA ../data/certs/root/rootCA.crt -text &
          opensslocsppid=$!
          cabal run | grep OCSPRespCertRevoked
          openssl ocsp -issuer ../data/certs/root/rootCA.crt \
              -cert ../data/certs/server/server.crt \
              -url http://localhost:8081 -respout ../data/resp.der
          kill $opensslocsppid
          sudo pkill -QUIT nginx

      - name: Test decoder (cabal test)
        run: cabal test

